<!-- <ListView [items]="desafios" (itemTap)="onItemTap(event)" class="list-group">
    <ng-template let-desafio="item" let-i="index">
      <GridLayout rows="40,20" columns="50,*">
        <Label [text]="i" row="0" col="0" rowSpan="2"></Label>
        <Label [text]="desafio" row="0" col="1"></Label>
      </GridLayout>
    </ng-template>
</ListView> -->


<!-- <ScrollView>
    <StackLayout>
        <Label class="titulo-desafio" [text]="desafio" horizontalAlignment="center"
            *ngFor="let desafio of desafios" ></Label>  
    </StackLayout> 
</ScrollView> -->
<ns-action-bar title="Desafio Atual"></ns-action-bar>
<StackLayout>
    <Label class="title" text="current page works!" horizontalAlignment="center"></Label>
    <Button text="Editar" (tap)="onEdit()" pageTransition="slideLeft"></Button>
</StackLayout>




